<nav class="navbar">
    <div class="pag_lista">
            <a routerLink="lista-produtos" routerLinkActive="active" class="pag_lista_listar" >Lista Produtos</a>
            <a routerLink="insere-produto" routerLinkActive="active" class="pag_lista_inserir" >Insere Produto</a>

    </div>
</nav>

<h1 class="text-center"> {{ title }}</h1>
<router-outlet></router-outlet>

<div class="info">
    <p>Projeto feito em angular e springboot <br> Coordenador: Heuber Lima</p> 
</div>
<footer class = "my-footer">
    <div class = "container">
        <span>FELIPE ASSIS DE JESUS - <a href="https://github.com/lipeA" target="_blank">Perfil do GitHub</a> </span>
    </div>
</footer>